<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/Content/styles.css">
    
    <%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
</head>
<body>
    <main>
    <div>
                <div>
                    <h1>Andres Paredes</h1>
                </div>
                <div class="information">
                    <table>
                            <tr>
                                <td class="picture">
                                    <img src="/img/USA_Visa_Picture.jpg" alt="Personal Photo" height="300" width="300">
                                </td>
                                <td class="Paragraphs">
                                    <p class="Welcome-message">
                                        "Hello Everyone, and thank you for visiting my portfolio!.<br>
                                        I am Andres Paredes, a passionated software engineering focused on offer exceptional
                                        web experiences and solving real-world problems through coding."
                                    </p>
                                    <p class="mission-message">
                                        "As a software Engineering and web developer, my mission is to create exceptional web
                                        applications that are able to solve real-world problems. Additionally, my purpose to
                                        create this portfolio is to share with you some of the projects that I have been working
                                        on since I started this beautiful journey"
                                    </p>
                                    <form action="Assets\Resume.pdf" method="get" target="_blank">
                                    <button type = "submit">Show Resume</button>
                                </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <%- include ('partials/bottom_nav.ejs') %>
        <%- include ('partials/footer.ejs') %>
    </div>
</main>
</body>
</html>
