<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>


 

    <%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
</head>

<body>
    <main>
        <h1>Services</h1>
        <div class="container">
            <img src="/img/serviceImage.png" alt="Services Image" height="400" width="500">
            <div class="services">
            <ul>
                <li>Offer software development services using C# with .Net Framework and Java</li>
                <li>Provide expertise in working with databases using Oralacle Database</li>
                <li>Develop web applications using HTML, JavaScript and CSS</li>
                <li>Able to provide bash and shell scriptings for automation tasks</li>
                <li>Offer React and Express frameworks development services</li>
            </ul>
            </div>
        </main>
</body>
</html>
    
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   