<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Services</h1>
    <p>Here you can find the service that we have available for you!</p>
    <ul id = "listOfServices">
        <li>Offer software development services using C# with .Net Framework and Java</li>
        <li>Provide expertise in working with databases using Oralacle Database</li>
        <li>Develop web applications using HTML, JavaScript and CSS</li>
        <li>Able to provide bash and shell scriptings for automation tasks</li>
        <li>Offer React and Express frameworks development services</li>
    </ul>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   